@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    /* Slightly deeper mint background to make white cards "pop" */
    @apply bg-[#e6f7f5] text-slate-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6;
  border-radius: 10px;
  border: 3px solid #f1f5f9;
}